#mywebsite {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
#landing {
    margin:0px;
    background-image:
    linear-gradient(to bottom, rgb(0, 0, 0, 0), 75%, rgb(240, 240, 240)),
    url('../img/landing-img.jpg');
    padding: 20%;
}
#landing h1{
    text-shadow: 2px 2px black;
    color: white;
    font-size: 50px;
    text-align: center;
    line-height: 0.5;
}
#landing p{
    text-shadow: 2px 2px black;
    color: white;
    font-size: 20px;
    text-align: center;
}